.imgDefault {
    width: 100%;
}

/* Ram ram ji */

/* afds */
.centerText {
    text-align: center;
}

.showFLEX {
    display: flex;

}

.productPageTitleFont {
    font-family: Inter, Roboto, Arial, sans-serif;
}