#str_price {
    text-decoration: line-through;
  }
  
  #product_details p {
    color: rgba(0, 19, 37, 0.64);
    font-size: 16px;
    font-weight: 500;
    margin: 40px 0;
  }
  
  #price {
    color: #001325;
    font-size: 20px;
    font-weight: 600;
  }
  
  #size_select {
    background: none;
    border: none;
  }
  
  body {
    background: #fbe1e8;
  }
  
  #product_display {
    background: white;
    width: 80%;
    margin: 3% auto;
  }
  
  .img_container {
    width: 40%;
  }
  
  #product_details {
    width: 60%;
    padding-left: 40px;
    padding-top: 20px;
  }
  
  .img_container i {
    font-size: 25px;
  }
  
  .add_to_bag button {
    background: #fc2779;
    border: none;
    color: white;
    padding: 10px 55px;
    font-weight: 600;
  }
  
  .add_to_bag {
    border-right: 1px solid #c1baba;
    padding: 30px 0;
  }
  
  .pincode input {
    border: 1px solid #f2a7c5;
    padding: 7px 20px;
  }
  
  .address_details i {
    font-size: 25px;
  }
  
  .location {
    display: flex;
    align-items: center;
  }
  
  .img_container {
    border-right: 1px solid #f2a7c5;
    padding-top: 20px;
  }
  
  .features img {
    width: 17%;
    margin-right: 1px;
  }
  
  .features div {
    display: flex;
    align-items: center;
    margin: 0 5px;
  }
  
  .features p {
    font-size: 14px !important;
  }
  
  #cart_counter {
    font-size: 14px;
    background-color: #fc2779;
    color: white;
    padding: 3px 9px;
    border-radius: 25px;
    position: absolute;
    left: 17px;
    top: -5px;
  }
  
  .bi-bag {
    font-size: 27px;
  }