* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
}

img {
  width: 100%;
}

/* TOP-NAVBAR */
.nav-top-parent {
  background: url("https://adn-static1.nykaa.com/media/wysiwyg/2021/common-strip.jpg");
  padding: 8px 0;
  color: black;
  font-weight: 600;
}

.top-nav-links a {
  color: black;
  padding: 0 15px;
  font-weight: 500;
  border-right: 1px solid black;
}

.top-nav-links a:nth-child(4) {
  border: none;
}

.top-nav-links a i {
  margin-right: 5px;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100vw;
  background: white;
  z-index: 1;
}
.navbar {
  padding: 0 7%;
  border-bottom: 1px solid #806a6a5e;
}

.navbar-brand {
  width: 7.5%;
}

.dropbtn {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 80vw;
  left: -1;
  color: #fc2779;
  margin-top: 42%;
  max-height: 80vh;
  overflow-y: scroll;
  box-shadow: 0 111px 200px rgb(48, 47, 47);
}

.dropdown {
  padding: 20px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar ul li {
  padding: 0 10px;
}

.navbar a {
  font-weight: 600;
  color: black;
  font-size: 14px;
}

.navbar button:hover,
.navbar a:hover {
  color: #fc2779;
  text-decoration: none;
}

.navbar-mobile {
  display: none;
}

.navbar input {
  background: #f4f4f4;
}

.sign-in-btn {
  background-color: #fc2779;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 7px;
}

.navbar form a {
  font-size: 20px;
}

#top-brands {
  margin-top: 5%;
}

#top-brands ul {
  list-style: disc;
  padding: 10px;
}

#top-brands ul a {
  color: black;
  font-size: 14px;
  font-weight: 400;
  color: #fc2779;
}

#top-brands li {
  padding: 0;
}

#top-brands h6 {
  font-weight: 700;
  font-size: 13px;
  margin: 20px 0 !important;
}

#input-brand {
  background: none;
  padding: 5px 10px;
  border: 1px solid rgb(199, 197, 197);
}

.brand-showcase {
  text-align: center;
  background: #f3f3f3;
  padding: 20px;
  width: 69%;
}

.brand-showcase nav {
  display: flex;
  justify-content: space-around;
}

.brand-showcase nav a {
  width: 150px;
  padding: 10px 0;
  display: block;
  text-transform: uppercase;
  background: #d8d8d8;
  color: rgba(3, 2, 26, 0.8);
}

.brand-showcase nav a:hover {
  color: white;
  background-color: #fc2779;
}

.search-brand {
  overflow-y: scroll;
  max-height: 70vh;
  width: 30%;
  padding: 15px;
}

.search-brand input {
  background: white !important;
}

.nav-item:nth-child(2) .dropdown-content {
  left: -15vw;
  margin-top: 48%;
}

.nav-item:nth-child(4) .dropdown-content {
  left: -25vw;
  margin-top: 23%;
}

.nav-item:nth-child(5) .dropdown-content {
  left: -33vw;
  margin-top: 24%;
  padding: 10px;
  overflow: hidden;
}

.sign-in-content {
  left: -8vw;
  width: 24vw;
  overflow-y: hidden;
  margin-top: 24%;
  padding: 10px;
  border-radius: 10px;
}

.sign-in-content h3 {
  color: black;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

.sign-in-content p {
  font-size: 14px;
  margin: 0;
}

.sign-in-content a p {
  color: #fc2779;
  font-size: 15px;
}

.sign_in_options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign_in_head {
  padding: 0 13px;
}

.sign_in_options a {
  width: 94%;
  height: 50px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #fc2779;
  border-radius: 5px;
  font-weight: 600;
}

.sign_in_options img {
  object-fit: contain;
  height: 100%;
  width: 12%;
}

.sign_in_head {
  padding: 0 10px;
}

.BeautyAdviceBox {
  display: block;
  width: 22%;
}

.BeautyAdviceBox img {
  border-radius: 10px;
}

#brand_render {
  display: grid;
  grid-template-columns: 21% 21% 21% 21%;
  place-items: center;
  place-content: center;
  gap: 25px;
  max-height: 70vh;
}

.MegaDropdown-ContentHeading {
  color: rgba(3, 2, 26, 0.8);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}

.MegaDropdown-ContentInner {
  padding: 0 20px;
}

.bgGrey {
  background-color: #e8e8e8;
}

.glamnfitstoreBox a {
  font-size: 12px;
}

.addMargintop {
  margin-top: 1rem;
}

.pop-window {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 30%;
  gap: 2%;
  padding-top: 10px;
}

.pop-window ul {
  list-style: none;
}

.pop-window li {
  padding: 0 !important;
}

.pop-window a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(3, 2, 26, 0.5) !important;
}

/* Content */
#content {
  display: none;
  background-color: black;
  opacity: 0.5;
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
}

/* Bottom navbar */
.btm-nav {
  padding: 0 8%;
  background-color: white;
  border-bottom: 1px solid rgb(185, 181, 181);
}

.btm-nav a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 15px;
  color: #fc2779;
}

.btm-nav a:hover {
  border-bottom: 4px solid #fc2779;
}

.offers-link {
  background: url("https://adn-static1.nykaa.com/media/wysiwyg/HeaderIcons/menusprite.png") -193px -44px
    no-repeat;
  width: 102px;
  display: block;
  height: 27px;
}

/* Carousel -2  */
.owl-item {
  margin: 20px 20px;
}

/* Discount Coupon */
.discount-cpn {
  width: 85%;
  margin: 0 auto;
}

.top-brands-child-text {
  padding-top: 250px;
}

.top-brands-child-text p {
  background: white !important;
  margin: 0 10px;
  padding: 20px 10px;
  border-radius: 4px;
  text-align: center;
}

.top-brands-child1 {
  background: url("https://images-static.nykaa.com/uploads/64d93257-a20b-4eab-a461-cc4d829fdb2b.jpg?tr=w-600,cm-pad_resize");
  background-size: cover;
  background-repeat: no-repeat;
}

.top-brands-child2 {
  background: url("https://images-static.nykaa.com/uploads/9a48b248-c665-4405-8491-d76a1f149d62.jpg?tr=w-600,cm-pad_resize");
  background-size: cover;
  background-repeat: no-repeat;
}

.top-brands-child3 {
  background: url("https://images-static.nykaa.com/uploads/2f17d8c6-3b59-4d41-a13e-aaa13e444c03.jpg?tr=w-600,cm-pad_resize");
  background-size: cover;
  background-repeat: no-repeat;
}

.top-brands-child4 {
  background: url("https://images-static.nykaa.com/uploads/81a37e3d-e0f5-47f9-ae89-ca88a8751ef6.jpg?tr=w-600,cm-pad_resize");
  background-size: cover;
  background-repeat: no-repeat;
}

.top-brands-child5 {
  background: url("https://images-static.nykaa.com/uploads/4964842b-48b6-44b9-ae12-4a852a8e4a52.jpg?tr=w-600,cm-pad_resize");
  background-size: cover;
  background-repeat: no-repeat;
}

.top-brands-child6 {
  background: url("https://images-static.nykaa.com/uploads/48dd9cee-eecc-47a6-89c3-85c58c712861.png?tr=w-600,cm-pad_resize");
  background-size: cover;
  background-repeat: no-repeat;
}

.top-brands-wrapper {
  display: grid;
  grid-template-columns: 40% 40%;
  place-content: center;
  gap: 20px;
}

/* box-shadow */
.box_sh {
  box-shadow: 0px 0px 20px #d9d9d9;
}

/* deals_of_the_day */
.deals_of_the_day {
  width: 88%;
  margin: 3% auto;
}

/* only_at_nykaa*/
.only_at_nykaa_child {
  width: 40%;
  margin: 1%;
}

.only-nykaa-child1 {
  background: url("https://images-static.nykaa.com/uploads/42025f1e-4570-446e-96b1-602e4591a5ff.jpg?tr=w-600,cm-pad_resize");
  background-size: cover;
  background-repeat: no-repeat;
}

.only-nykaa-child2 {
  background: url("https://images-static.nykaa.com/uploads/649ea225-2d00-4095-b5fd-510e2c7b56f2.jpg?tr=w-600,cm-pad_resize");
  background-size: cover;
  background-repeat: no-repeat;
}

.only-nykaa-child3 {
  background: url("https://images-static.nykaa.com/uploads/02f91b68-0372-4fe8-ac4c-81a51ec6d29b.jpg?tr=w-600,cm-pad_resize");
  background-size: cover;
  background-repeat: no-repeat;
}

.only-nykaa-child-text {
  padding-top: 200px;
}

.only-nykaa-child-text p {
  background-color: white;
  margin: 0 10px;
  padding-top: 50px;
  border-radius: 5px;
}

.only_at_nykaa_discount {
  width: 90%;
  margin: auto;
}

/* Handpicked Section */
.handpicked_section {
  background: #fbe1e8;
}

@media only screen and (max-width: 768px) {
  .only_at_nykaa_child {
    width: 80%;
  }
  .top-brands-wrapper {
    grid-template-columns: 80%;
  }
}

@media only screen and (max-width: 980px) {
  .nav-top-parent {
    display: none !important;
  }

  .navbar-brand {
    display: none;
  }

  nav {
    padding: 1% !important;
    justify-content: flex-start !important;
    gap: 5%;
  }

  .navbar-mobile {
    display: block;
    width: 70px;
  }
}

@media only screen and (max-width: 1200px) {
  .dropdown-content {
    display: none !important;
  }

  .btm-nav {
    display: none;
  }

  .lg-rem {
    display: none;
  }
}
