body {
    background-color: #F3F3F3;
}

#page-title-name-ID {

    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.3px;
    font-stretch: normal;
    font-style: normal;
    font-family: Inter, Roboto, Arial, sans-serif;
    padding: 2%;
}

#title-listing {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.3px;
    font-stretch: normal;
    font-style: normal;
    font-family: Inter, Roboto, Arial, sans-serif;
    padding: 3%;
}

#face-primer-sidebar-ID {
    flex-grow: 2;
    border: solid black;
    position: sticky;
    top: 0px;
    border: solid gold;
    border: solid;
    flex-grow: 2;
    height: 300px;
    width: 30%;
    margin-bottom: 20px;

}

#ok {
    padding-left: 75px;
}

#products-grid-ID {
    flex-grow: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    border: #FC2779;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
    padding: 5%;
    padding-top: 0px;
}

.cart-product-div-class {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ffffff;
    font-family: Inter, Roboto, Arial, sans-serif;
    height: 479px;
    display: flex;
    flex-direction: column;
}

.cart-product-div-class h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
    overflow: hidden;
    height: 42px;
    margin-bottom: 0.75rem;
    text-align: center;
    color: #001325;
    text-overflow: ellipsis;
}



#keyword-div-ID {


    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    /* justify-content: center; */

}

#keyword-ul-ID {
    /* padding-right: 100px; */
    /* padding: 5%; */
    padding-top: 10px;
    padding-right: 30px;
    margin-left: -20px;
}

#keyword-li-ID {
    list-style: none;
    font-size: 12px;
    color: #FC2779
        /* text-align: center; */
        /* padding: 2%; */
}

img {
    width: 85%;
    margin: auto;
    display: block;
}

#products-grid-ID h5 {
    text-align: center;

}



.price-Box-div-CLASS {
    display: flex;
    justify-content: space-evenly;
}

.price-Box-div-CLASS> :first-child {
    color: gray;
    text-decoration: line-through;
}

.price-Box-div-CLASS> :nth-child(2) {
    color: black;
    padding-left: -20px;
}

.price-Box-div-CLASS> :nth-child(3) {
    color: rgb(89, 222, 89);
}

#extra-discount-div-ID {

    text-align: center;
    color: #FC2779;

}

#add-to-cart-button-ID {
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-weight: bold;
    background-color: #FC2779;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 0px;
    margin-bottom: 10px;
    margin-left: 20px;

}

#wishlist-button-ID {
    background-color: rgb(255, 255, 255);
    border: none;
}

#hoverCartSlide-ID {
    /* display: none; */
    width: 100%;
    height: 50px;
    visibility: hidden;
}

#hoverCartSlide-ID img {
    width: 130%;
    padding-left: 3px;
    height: 100%;

}

.cart-product-div-class:hover #hoverCartSlide-ID {
    display: flex;
    visibility: visible;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}